<h1>Todos Post</h1>
<% @todos.each_slice(4) do |todo2|%>
<div class="card-deck">
    <% todo2.each do |todo|%>

    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title">Description</h5>
        <p class="card-text">  <%= todo.description%> </p>
        <h5 class="card-title">Completed</h5>
        <p class="card-text">  <%= todo.completed%> </p>
        <%=link_to "edit", edit_todo_path(todo)%>
        <%=link_to "show", show_todo_path(todo)%>
         <% if todo.completed == true %>
        <%=link_to "incompleted" , complete_todo_path(todo) %>
        <% else %>
        <%=link_to "completed", complete_todo_path(todo) %>
      <%end%>
      <%=link_to "delete", delete_todo_path(todo), method: :delete, data:{confirm: 'Estas seguro?'}%>

      </div>
    </div>
<%end%>
</div>
<%end%> 

<%=link_to "new", todos_new_path%>


