<div class="container">
    <div class="row">
    <div class = "col-6">
    <h1 class='text-center'>Tareas Incompletas</h1>
    <% @todo_incompleted.each_slice(2) do |todo2|%>
    <div class="card-deck">
        <% todo2.each do |todo|%>

        <div class="card">
        
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">  <%= todo.description%> </p>
            <h5 class="card-title">Completed</h5>
            <p class="card-text">  <%= todo.completed%> 
                <% if todo.completed == true %>
                <%=link_to "Incompleta" , complete_todo_path(todo),class:'btn btn-outline-warning m-1' %>
                <% else %>
                <%=link_to "Completada", complete_todo_path(todo),class: 'btn btn-outline-success m-1'  %>
            <%end%></p>
            <%=link_to "Editar", edit_todo_path(todo), class:'btn btn-outline-primary m-1'%>
            <%=link_to "Ver", show_todo_path(todo), class: 'btn btn-outline-info'%>
            <%=link_to "delete", delete_todo_path(todo), method: :delete, data:{confirm: 'Estas seguro?'}, class:'btn btn-outline-danger m-1'%>
            
        

        </div>
        </div>
    <%end%>
    </div>
    <%end%> 
    </div>
        

    <div class = "col-6">
    <h1 class="text-center">Tareas completadas</h1>
    <% @todo_completed.each_slice(2) do |todo2|%>
    <div class="card-deck">
        <% todo2.each do |todo|%>

        <div class="card">
        
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">  <%= todo.description%> </p>
            <h5 class="card-title">Completed</h5>
            <p class="card-text">  <%= todo.completed%> 
                <% if todo.completed == true %>
                <%=link_to "Incompleta" , complete_todo_path(todo) ,class:'btn btn-outline-warning m-1'%>
                <% else %>
                <%=link_to "Completada", complete_todo_path(todo) ,class: 'btn btn-outline-success m-1' %>
            <%end%></p>
            <%=link_to "Editar", edit_todo_path(todo), class:'btn btn-outline-primary m-1'%>
            <%=link_to "Ver", show_todo_path(todo), class: 'btn btn-outline-info'%>
            <%=link_to "delete", delete_todo_path(todo), method: :delete, data:{confirm: 'Estas seguro?'}, class:'btn btn-outline-danger m-1'%>
            
        

        </div>
        </div>
    <%end%>
    </div>
    <%end%> 
    </div>
</div>
</div>



